.contentContainer {
    height: 100vh;
    width: calc(100vw - 5vh);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contentContainer {
        width: 100vw;
    }
}