.contentContainer {
    height: 100vh;
    width: calc(100vw - 5vh);
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}