.menuItem {
    color: white;
    white-space: nowrap;
    position: relative;
    transform-origin: center;
    padding: 5px;
    font-size: 1.15em;
    z-index: 1;
    cursor: default;
}

.menuContainer {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .menuItem h1 {
        font-size: 20px;
    }
}